@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../media/fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../media/fonts/Roboto-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../media/fonts/GoogleSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Google Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../media/fonts/GoogleSans-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../media/fonts/Product\ Sans\ Regular.ttf') format('truetype');
}